.mobile-zoom-button {
    font-size: 45px !important;
    width: 95px !important;
    height: 95px !important;
    margin: 8px 0 !important;
}

.mobile-toggle-icon {
    font-size: 60px !important;
    width: 95px !important;
    height: 95px !important;
}
