
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    display: flex;
    height: 100vh;
    gap: 20px;
    height: calc(100vh - 120px); 
    padding-top: 90px;
    padding-left: 20px;
}

.left-panel {
    width: 55%;
    overflow-y: auto;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.right-panel {    
    padding-top: 0 px;
    width: 45%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-left: 1px solid #ddd;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 97%;
    height: 97%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}


.form-row {
    display: flex;
    gap: 8px; /* Aumenta o espaçamento horizontal entre os campos */
    margin-bottom: 10px;
    padding: 10px;
}


.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 12px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-width: 150px; /* Define uma largura mínima para garantir espaçamento adequado */
}


h2 {
    font-size: 16px;
    color: #007bff;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* Estilo da tabela */
.simulacoes-table {
    width: 99%;
    border-collapse: collapse;
    margin: 20px auto; /* This will center the table horizontally */
    font-size: 0.85em;

}

.simulacoes-table th,
.simulacoes-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.simulacoes-table th {
    background-color: #e0e0e0;
    color: #555;
    font-weight: bold;
}

.linha-selecionada td {
    background-color: #4e8ed8 !important;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #095d93; /* Blue background */
    height: 80px; /* Set the header height to 80px */
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: fixed; /* Keeps the header fixed */
    top: 0;
    z-index: 1000;
    color: white;
    padding: 0 20px; /* Adjust padding to remove extra space */
}

.logo-container img {
    height: 70px;
    margin-right: 20px;
}

.title-container {
    text-align: left;
    color: white; /* White text color */
}

.title-container h2 {
    margin: 0;
    font-size: 20px; /* Set to 32px as requested */
    color: white; /* White text color */
}

.title-container h3 {
    margin: 0;
    font-size: 16px; /* Smaller font size */
    font-weight: 400; /* Regular font weight */
    color: white; /* White text color */
    padding: 2px;
}

.subtitle {
    margin-top: 5px;
    font-size: 16px; /* Adjusted font size for subtitle */
}
.logo-containerdir {
    display: flex;
    align-items: center; /* Alinha verticalmente a logo, se necessário */
    margin-left: auto; /* Empurra o conteúdo para a direita */
}

.logo-containerdir img {
    height: 70px;
    margin-right: 30px;
}
.export-button {
    background-color: #034179; /* Mesma cor azul-escura */
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.export-button:hover {
    background-color: #0056b3;
}
